.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}
.console {
  font-family: monospace;
  padding: 0.75rem;
  white-space: pre-line;
}
.container {
  height:100vh;
}
.main {
  height: 100%;
  padding: 1%;
}
.images {
  border: 1px solid black;
  margin: 1px;
}